{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <!--Section: Contact v.1-->
<section class="section pb-5">

  <!--Section heading-->
  <h1 class="section-heading h1 pt-4" align="center">Nous contacter</h1>
  <!--Section description-->
  <hr class="bg-primary" align="center">
  
<div class="d-flex justify-content-around">
  <p class="section-description pb-4">Par e-mail : bde.cesi.lille@gmail.com</p>
  <p class="section-description pb-4">Par téléphone : 06-36-41-90-02</p>
</div>

<div class="d-flex justify-content-center">
<a href="https://www.facebook.com/BDE-CESI-Lille-2190916054532603/" style="margin:5%"><i class="fab fa-facebook-f pr-1 fa-3x"></i></a>
<a href="https://www.instagram.com/bde_cesi_lille_/" style="margin:5%" ><i class="fab fa-instagram fa-3x"></i></a>
<a href="https://www.youtube.com/?gl=FR&amp;hl=fr" style="margin:5%" ><i class="fab fa-youtube fa-3x"></i></a>
<a href="https://twitter.com/home?lang=fr" style="margin:5%" ><i class="fab fa-twitter fa-3x"></i></a>
</div>

  <div class="row justify-content-center">

    <div class="col-12">

      <!--Google map-->
      <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 400px">
        <iframe src="https://maps.google.com/maps?q=ensam%20Lille&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
          frameborder="0" style="border:0" allowfullscreen height="100%" width="100%"></iframe>
      </div>
    </div>
    <!--Grid column-->

  </div>

</section>
<!--Section: Contact v.1-->
</div>
{% endblock %}
